:root {
  font-size: 16px;
  --bg-primary: #081b29;
  --bg-accent: #05a2f1;
  --text-primary: #f4faff;
}

html {
  color: var(--text-primary);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
  overflow: visible;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--text-primary);
}

header {
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 1;
}

main {
  margin-top: 10vh;
  width: 100vw;
  z-index: -1;
}
